@import "../../app.scss";

.portfolio {
	position: relative;
	
	.down{
		position: sticky;
		top: 89%;
		left: 100px;
		padding-left: 92% ;
		@include mobile{
			display: none;
		}
		img{
			width: 50px;
			height: 50px;
			cursor: pointer;
		}
	}
	.progress {
		position: sticky;
		top: 0;
		left: 0;
		padding-top: 50px;
		text-align: center;
		color: orange;
		font-size: 36px;

		@include mobile{
			padding-top: calc(100vh - 70px);
			font-size: 18px;
		}
		h1{
			@include mobile{
				font-size:24px;
				margin-top: 22px;
				
			}
		}

		.progressBar {
			height: 8px;
			background-color: rgba(255, 255, 255, 0.55);
			@include mobile{
				height: 4px;
			}
		}
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow: hidden;


		.wrapper {
			max-width: 900px;
			height: 100%;
			margin: auto;

			display: flex;
			align-items: center;
			justify-content: center;
			gap: 60px;

			@include mobile{
				flex-direction: column;
			}

			.imageContainer {
				flex: 1;
				height: 40%;
				//this border-radius is optional
				border-radius: 10px;
				@include mobile{
					width: 100%;
					max-height: 250px;
					margin-top: 15px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 10px;
					
					//border: 1px solid rgba(255, 255, 255, 0.457);
					@include mobile{
						object-fit: contain;
					}
				}
			}

			.textContainer {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 20px;
				
				
				@include mobile{
					transform: none !important;
					padding: 15px;
					align-items: center;
					text-align: center;
				}
				
				h2 {
					font-size: 40px;

					@include mobile{
						font-size: 22px;
					}
				}

				p {
					color: gray;
					font-size: 1rem;
					@include mobile{
						font-size: 16px;
					}

				}

				button {
					background-color: #ffa500;
					border: none;
					border-radius: 10px;
					padding: 10px;
					width: 200px;
					cursor: pointer;
				}
			}
		}
	}
}